# Virtual environment
venv/

# Python cache
__pycache__/
*.py[cod]

# Logs
logs/

# VS Code
.vscode/

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# Large/generated project files
yolo11n.pt
smart_health.db

# Encrypted configuration
.enc
